* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(120deg, #f6d365 0%, #e27759 100%);
  color: white;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}
header {
  font-size: 2rem;
}

.text {
  color: #f1491a;
}

header {
  min-height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  text-align: center;
}

form {
  
  width: 25%;
  padding: 2%;
  margin-left: 37%;
  justify-content: center;
  align-items: center;
}

.form input,
.add-button {
  padding: 0.2rem;
  font-size: 2rem;
  border: none;
  background: white;
}

.add-button {
  color: #f1491a;
  font-size: large;
  width: 200px;
  height: 50px;
  background: none;
  cursor: pointer;
  transition: all 0.3s ease;
  border: 2px solid #f1491a;
  position: relative;
  margin-left: 27%;
}

.add-button::before, .add-button::after {
  content: "";
  position: absolute;
  width: 14px;
  height: 2px;
  background: white;
  transform: skewX(50deg);
  transition: .3s linear;
}

.add-button::before {
  top: -2px;
  left: 10%;
}

.add-button::after {
  bottom: -2px;
  right: 10%;
}

.add-button:hover::before {
  left: 80%;
}

.add-button:hover::after {
  right: 80%;
}

.card-header {
  color:#f1491a;
  font-size: x-large;
}

.card-title,
.card-text  {
  color: black;
}

.card {
  margin-top: 50px;
  width: 600px;
  height: 150px;
  margin-left: 25%;
}

.modal-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s;
  z-index: 100;
}

.bg-active {
  visibility: visible;
  opacity: 1;
}

#modal-form {
  margin-right: 38%;
  background-image: linear-gradient(120deg, #f6d365 0%, #e27759 100%);
}

.form-group {
  position: relative;
}

.modal-button {
  color: #f1491a;
  font-size: large;
  width: 200px;
  height: 50px;
  background: none;
  cursor: pointer;
  transition: all 0.3s ease;
  border: 2px solid #f1491a;
  position: relative;
  margin-left: 25%;
}

.modal-button::before, .modal-button::after {
  content: "";
  position: absolute;
  width: 14px;
  height: 2px;
  background: white;
  transform: skewX(50deg);
  transition: .3s linear;
}

.modal-button::before {
  top: -2px;
  left: 10%;
}

.modal-button::after {
  bottom: -2px;
  right: 10%;
}

.modal-button:hover::before {
  left: 80%;
}

.modal-button:hover::after {
  right: 90%;
}

.modal-close {
  position: relative;
  bottom: 250px;
  left: 200px;
  cursor: pointer;
}





